[Unit]
Description=filewatched daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/sbin/filewatched
WorkingDirectory=/etc/filewatched

[Install]
WantedBy=multi-user.target
